        <!-- START Template Sidebar (Left) -->
        <aside class="sidebar sidebar-left sidebar-menu">
            <!-- START Sidebar Content -->
            <section class="content slimscroll">
                <h5 class="heading">Main Menu</h5>
                <!-- START Template Navigation/Menu -->
                <ul class="topmenu topmenu-responsive" data-toggle="menu">
                    <li >
                        <a href="#">
                            <span class="figure"><i class="ico-home2"></i></span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/">
                            <span class="figure"><i class="ico-user2"></i></span>
                            <span class="text">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%=  friends_users_path %>">
                            <span class="figure"><i class="ico-users2"></i></span>
                            <span class="text">Facebook Friends</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="figure"><i class=" ico-menu6"></i></span>
                            <span class="text">Timeline</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%=  like_list_users_path %>">
                            <span class="figure"><i class=" ico-star6"></i></span>
                            <span class="text">Like list</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="figure"><i class="ico-heart"></i></span>
                            <span class="text">Crush list</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="figure"><i class="ico-bell"></i></span>
                            <span class="text">Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="figure"><i class="ico-user-minus"></i></span>
                            <span class="text">Hidden people</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="figure"><i class="ico-envelope-alt"></i></span>
                            <span class="text">Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="figure"><i class=" ico-user-block"></i></span>
                            <span class="text">Blocked people</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="figure"><i class=" ico-blog2"></i></span>
                            <span class="text">Discussions / Blogs</span>
                        </a>
                    </li>
                </ul>
                <!--/ END Template Navigation/Menu -->

                <!--/ END Sidebar summary -->
            </section>
            <!--/ END Sidebar Container -->
        </aside>
        <!--/ END Template Sidebar (Left) -->